{% extends 'base.html.twig' %}

{% block title %}Donation{% endblock %}

{% block body %}
    <h1>Donation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donation.id }}</td>
            </tr>
            <tr>
                <th>PaymentIntentId</th>
                <td>{{ donation.paymentIntentId }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ donation.amount }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ donation.email }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ donation.title }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ donation.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ donation.lastName }}</td>
            </tr>
            <tr>
                <th>FilingStatus</th>
                <td>{{ donation.filingStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_donation_index') }}">back to list</a>

    <a href="{{ path('app_donation_edit', {'id': donation.id}) }}">edit</a>

    {{ include('donation/_delete_form.html.twig') }}
{% endblock %}
